.linkBox {
  margin: 0 100px;
}

.navRow {
  padding: 20px;
}

@media (max-width: 576px) {
  .linkBox {
    margin: 0 100px;
  }
  .navRow {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .linkBox {
    margin: 0 100px;
  }
  .navRow {
    padding: 20px;
  }
}
/*
Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
} */
